*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #2a3151;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification{
    min-width: 200px;
    min-height: 50px ;
    background-color: rgb(117, 227, 159);
    border-radius: 5px;
    padding: 20px 25px;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 25px;
    animation: shownoti 0.4s ease-in;
    z-index: 9;
}
.disapear {
   display: none;
}

.container form{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}

label {
    font-size: 20px;
}

form span {
    color: red;
    margin-top: 5px;
}

.input-group{
    width: 100%;    
    margin: 20px 0;
    position: relative;
}

.input-group input{
    width: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    color: #333;
    font-size: 16px;
    margin-top: 8px;
}
.input-group input:focus {
    outline-color: rgb(76, 116, 155) ;
}


form button{
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: #7585d0;
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
    transition: .3s;
}

form button:hover{
    background-color: #636c94;
}

form button:disabled {
    cursor: default;
    background-color: #dcdeea;
}

@keyframes shownoti{
    from{
        right: 0px;
        opacity: 0;
    }
    to{
        right: 20px;
        opacity: 1;
    }
}